/* Custom Fonts */
@font-face 
{
    font-family: 'Amsterdam2';
    src: url(../fonts/Amsterdam2.ttf);
}
@font-face 
{
    font-family: 'Holiday';
    src: url(../fonts/Holiday.ttf);
}
@font-face 
{
    font-family: 'Signature';
    src: url(../fonts/Signature.ttf);
}

/* Nav Bar General*/
.menu-btn 
{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
/* Nav Bar icon lines*/
.menu-btn .btn-line 
{
    width: 1.8rem;
    height: 0.2rem;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out;
}
/* Nav Bar rotate animation*/
.menu-btn.close 
{
    transform: rotate(360deg);
}
.menu-btn.close .btn-line:nth-child(1) 
{
    transform: rotate(45deg) translate(5px, 5px);
    background: #F4C215;
}
.menu-btn.close .btn-line:nth-child(2) 
{
    opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) 
{
    transform: rotate(-45deg) translate(7px, -6px);
    background: #F4C215;
}
/* logo */
.logo-container {
    width: 100px;
    height: 90px;
    background: url(../images/logo.png);
    animation: logo-load 300ms ease-out;
}
.logo-container img {
    width: 250px; /* Set the desired width for your logo */
    height: auto; /* Maintain aspect ratio */
}
/* Nav Bar Menu*/
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
    visibility: hidden;
}
.menu.show {
    visibility: visible;
}
.menu-branding,
.menu-nav 
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
/* nav-menu slidinng */
.menu-nav 
{
    margin: 0;
    padding: 0;
    background: #000000;
    list-style: none;
    transform: translate3d(0, 100%, 0);
    transition: all 1.5s ease-out;
}
.menu-nav.show 
{
    transform: translate3d(0, 0, 0);
}
.menu-branding 
{
    background-color: #000000;
    transform: translate3d(0, -100%, 0);
    transition: all 1.5s ease-out;
}
.menu-branding.show 
{
    transform: translate3d(0, 0, 0);
}
/* Photo in menu bar */
.menu-branding .potrait 
{
    width: 210px;
    height: 220px;
    background: url(../images/profile-lg.jpg);
    border-radius: 100%;
    border: 5px solid #F4C215;
}
/* Nav Bar Menu Items*/
.menu .nav-item 
{
    transform: translate3d(37.5rem, 0, 0);
    transition: all 0.5s ease-out;
}
.menu .nav-item.show 
{
    transform: translate3d(0, 0, 0);
}
.menu .nav-item.current>a 
{
    color: #F4C215;
}
.menu .nav-link 
{
    display: inline-block;
    position: relative;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
/* Nav Bar MenuItems hover*/
.menu .nav-link:hover 
{
    color: #F4C215;
    border-bottom: 1px solid #F4C215;
}
.nav-item:nth-child(1) 
{
    transition-delay: 0.1s;
}
.nav-item:nth-child(2) 
{
    transition-delay: 0.2s;
}
.nav-item:nth-child(3) 
{
    transition-delay: 0.3s;
}
.nav-item:nth-child(4) 
{
    transition-delay: 0.4s;
}

* {
    box-sizing: border-box;
}
body {
    background: #333;
    color: #fff;
    height: 500%;
    margin: 0;
    font-family: 'Holiday',cursive; 
    line-height: 1.5;
}
body#bg-img {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
body#bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
h1 {
    margin: 1;
    font-weight: 400;
}
/* Home Page Title 1*/
h1.lg-heading {
    font-family: 'Amsterdam2',serif;                                    
    color: #F4C215;
    padding-top: -200px;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    line-height: 1;
    transform: translate3d(0, 0, 0);
    transition: all 1.5s ease-out;

}
/* Home Page Title 2*/
h1.sm-heading,
h2.sm-heading,
h3.sm-heading 
{
    margin-bottom: 2rem;
    font-family: 'Holiday',cursive;                                 
    padding-top: 50px;
    font-size: 1rem;
}
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
header 
{
    position: fixed;
    z-index: 1;
    width: 100%;
}
/* About page Hi text*/
.text-secondary 
{
    color: #F4C215;
}

main 
{
    padding: 4rem;
    min-height: calc(50vh - 60px);
}

main .icons 
{
    margin-top: 1rem;
}

main .icons a 
{
    padding: 0.4rem;
    color: rgba(255, 255, 255, 0.8);
}

main .icons a:hover 
{
    color: #F4C215;
    transition: all 0.5s ease-out;
}

main#home 
{
    overflow: hidden;
}

main#home h1 
{
    margin-top: 28vh;
}

.about-info 
{
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: "bioImage bio bio" "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
}

.about-info .bio-image 
{
    grid-area: bioImage;
    margin: auto;
    border-radius: 50%;
    border: #F4C215 3px solid;
}

.about-info .bio 
{
    grid-area: bio;
    font-size: 1.4rem;
    border-radius: 30px;
    background-color: #000000;
    border: #F4C215 3px solid;
}

.about-info .bio p 
{
    text-align: justify;
}

.about-info .bio p2 
{
    text-align: right;
    font-family: Signature,cursive;
    font-size: 2rem;
    color: #F4C215;
}

.about-info .job-1 
{
    grid-area: job1;
    border-radius: 30px;
}

.about-info .job-2 
{
    grid-area: job2;
    border-radius: 30px;
}

.about-info .job-3 
{
    grid-area: job3;
    border-radius: 30px;
}

.about-info .job 
{
    background: #000000;
    padding: 1rem;
    border-bottom: #F4C215 4px solid;
    border-top: #F4C215 4px solid;
    border-right: #F4C215 4px solid;
    border-left: #F4C215 4px solid;
}

.about-info .job h3,
.about-info .job h5 
{
    font-weight: bold;
    text-align: center;
    padding: 0;
    font-size: 1.6rem;
}

.about-info .job p 
{
    text-align: justify;
    font-size: 1.2rem;
}

.projects 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    font-weight: bold;
    color: #F4C215;
    text-align: center;
    justify-items: center;
}

.projects .item 
{
    width: 70%;
    height: 70%;
}

.projects img 
{
    width: 100%;
    border: 2px #fff solid;
    opacity: 0.85;
}

.projects img:hover 
{
    opacity: 1;
    border-color: #F4C215;
    transition: all 0.5s ease-out;
}

#contact .container 
{
    max-width: 1200px;
    margin: auto;
    background-color: #000000;
    border-radius: 50px;
    padding: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.55fr 0.45fr;
    grid-gap: 3rem;
}

#contact .container .contact-info 
{
    
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#contact .container .contact-info div h3 
{
    font-weight: bold;
}

#contact .container .contact-info div ul 
{
    list-style-type: none;
}

#contact .container .contact-form form p button 
{
    display: block;
    width: 30%;
    border-radius: 30px;
}

#contact .container .contact-form form p button 
{
    font-family: 'Holiday',cursive;
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    display: block;
    padding: 0.5rem 1rem;
    color: #F4C215;
    background: #333;
    border: 2px solid #F4C215;
    margin-bottom: 0.2rem;
    margin-top: 2rem;
    transition: all 0.5s ease-out;
}

#contact .container .contact-form form p button:hover 
{
    background: #F4C215;
    color: #000;
}

.modal,
.modal-success,
.modal-error 
{
    display: none;
    position: fixed;
    z-index: 5;
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #222;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease-out;
}

.modal-content 
{
    padding: 20px;
    background: #ceff33;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.btn,
.btn-dark,
.btn-light 
{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.2rem;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover 
{
    background: #F4C215;
    color: #000;
}

.btn-dark 
{
    background: black;
    color: #fff;
}

.btn-light 
{
    background: #b3b3b3;
    color: #333;
}

#main-footer 
{
    text-align: center;
    color: #F4C215;
    padding: 1rem;
    background: #000000;
    
    height: 50px;
}

#errorPage 
{
    overflow: hidden;
}

.moon 
{
    background: linear-gradient(90deg, #d0d0d0 48%, #919191 100%);
    position: absolute;
    top: -100px;
    left: -300px;
    width: 900px;
    height: 900px;
    content: '';
    border-radius: 100%;
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
}

.moon__crater 
{
    position: absolute;
    content: '';
    border-radius: 100%;
    background: linear-gradient(90deg, #7a7a7a 38%, #c3c3c3 100%);
    opacity: 0.6;
}

.moon__crater1 
{
    top: 250px;
    left: 500px;
    width: 60px;
    height: 180px;
}

.moon__crater2 
{
    top: 650px;
    left: 340px;
    width: 40px;
    height: 80px;
    transform: rotate(55deg);
}

.moon__crater3 
{
    top: -20px;
    left: 40px;
    width: 65px;
    height: 120px;
    transform: rotate(250deg);
}

.star 
{
    background: grey;
    position: absolute;
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 100%;
    transform: rotate(250deg);
    opacity: 0.4;
    animation-name: shimmer;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shimmer 
{
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

.star1 {
    top: 40%;
    left: 50%;
    animation-delay: 1s;
}

.star2 {
    top: 60%;
    left: 90%;
    animation-delay: 3s;
}

.star3 {
    top: 10%;
    left: 70%;
    animation-delay: 2s;
}

.star4 {
    top: 90%;
    left: 40%;
}

.star5 {
    top: 20%;
    left: 30%;
    animation-delay: 0.5s;
}

.error {
    position: absolute;
    left: 100px;
    top: 400px;
    transform: translateY(-60%);
    color: #333;
}

.error__title 
{
    font-size: 6em;
}

.error__subtitle 
{
    font-size: 2em;
}

.error__description 
{
    font-size: 1.2em;
    color: rgba(51, 51, 51, 0.8);
}

.error__button 
{
    min-width: 10em;
    min-height: 3em;
    margin-top: 3em;
    margin-right: 0.5em;
    padding: 0.5em 2em;
    outline: none;
    border: 2px solid rgba(51, 51, 51, 0.8);
    background-color: transparent;
    border-radius: 8em;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 0.75em;
}

.error__button:hover 
{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(51, 51, 51, 0.8);
    color: #F4C215;
}

.error__button--active 
{
    background-color: #F4C215;
    border: 2px solid #F4C215;
}

.error__button--active:hover 
{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    color: white;
}

.astronaut 
{
    position: absolute;
    width: 185px;
    height: 300px;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
    transition: all 0.5s ease-out;
}

.astronaut__head 
{
    background-color: white;
    position: absolute;
    top: 60px;
    left: 60px;
    width: 60px;
    height: 60px;
    content: '';
    border-radius: 2em;
}

.astronaut__head-visor-flare1 
{
    background-color: #7f8fa6;
    position: absolute;
    top: 28px;
    left: 40px;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 2em;
    opacity: 0.5;
}

.astronaut__head-visor-flare2 
{
    background-color: #718093;
    position: absolute;
    top: 40px;
    left: 38px;
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 2em;
    opacity: 0.3;
}

.astronaut__backpack 
{
    background-color: #bfbfbf;
    position: absolute;
    top: 90px;
    left: 47px;
    width: 86px;
    height: 90px;
    content: '';
    border-radius: 8px;
}

.astronaut__body 
{
    background-color: #e6e6e6;
    position: absolute;
    top: 115px;
    left: 55px;
    width: 70px;
    height: 80px;
    content: '';
    border-radius: 8px;
}

.astronaut__body__chest 
{
    background-color: #d9d9d9;
    position: absolute;
    top: 140px;
    left: 68px;
    width: 45px;
    height: 25px;
    content: '';
    border-radius: 6px;
}

.astronaut__arm-left1 
{
    background-color: #e6e6e6;
    position: absolute;
    top: 127px;
    left: 9px;
    width: 65px;
    height: 20px;
    content: '';
    border-radius: 8px;
    transform: rotate(-30deg);
}

.astronaut__arm-left2 
{
    background-color: #e6e6e6;
    position: absolute;
    top: 102px;
    left: 7px;
    width: 20px;
    height: 45px;
    content: '';
    border-radius: 8px;
    transform: rotate(-12deg);
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
}

.astronaut__arm-right1 {
    background-color: #e6e6e6;
    position: absolute;
    top: 113px;
    left: 100px;
    width: 65px;
    height: 20px;
    content: '';
    border-radius: 8px;
    transform: rotate(-10deg);
}

.astronaut__arm-right2 {
    background-color: #e6e6e6;
    position: absolute;
    top: 78px;
    left: 141px;
    width: 20px;
    height: 45px;
    content: '';
    border-radius: 8px;
    transform: rotate(-10deg);
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
}

.astronaut__arm-thumb-left {
    background-color: #e6e6e6;
    position: absolute;
    top: 110px;
    left: 21px;
    width: 10px;
    height: 6px;
    content: '';
    border-radius: 8em;
    transform: rotate(-35deg);
}

.astronaut__arm-thumb-right {
    background-color: #e6e6e6;
    position: absolute;
    top: 90px;
    left: 133px;
    width: 10px;
    height: 6px;
    content: '';
    border-radius: 8em;
    transform: rotate(20deg);
}

.astronaut__wrist-left {
    background-color: #e67e22;
    position: absolute;
    top: 122px;
    left: 6.5px;
    width: 21px;
    height: 4px;
    content: '';
    border-radius: 8em;
    transform: rotate(-15deg);
}

.astronaut__wrist-right {
    background-color: #e67e22;
    position: absolute;
    top: 98px;
    left: 141px;
    width: 21px;
    height: 4px;
    content: '';
    border-radius: 8em;
    transform: rotate(-10deg);
}

.astronaut__leg-left {
    background-color: #e6e6e6;
    position: absolute;
    top: 188px;
    left: 50px;
    width: 23px;
    height: 75px;
    content: '';
    transform: rotate(10deg);
}

.astronaut__leg-right {
    background-color: #e6e6e6;
    position: absolute;
    top: 188px;
    left: 108px;
    width: 23px;
    height: 75px;
    content: '';
    transform: rotate(-10deg);
}

.astronaut__foot-left {
    background-color: white;
    position: absolute;
    top: 240px;
    left: 43px;
    width: 28px;
    height: 20px;
    content: '';
    transform: rotate(10deg);
    border-radius: 3px;
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
    border-bottom: 4px solid #e67e22;
}

.astronaut__foot-right {
    background-color: white;
    position: absolute;
    top: 240px;
    left: 111px;
    width: 28px;
    height: 20px;
    content: '';
    transform: rotate(-10deg);
    border-radius: 3px;
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
    border-bottom: 4px solid #e67e22;
}

@media screen and (min-width: 1171px) {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 900px) and (max-width: 1170px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 899px) {
    main {
        align-items: center;
        text-align: center;
    }
    main .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }
    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
    }
    ul.menu-nav.show,
    div.menu-branding.show {
        transform: translate3d(0, 0, 0);
    }
    .menu-nav {
        height: 60vh;
        transform: translate3d(100%, 0, 0);
    }
    .menu-nav .nav-item>a {
        font-size: 1.5rem;
    }
    .menu-branding {
        height: 40vh;
        transform: translate3d(-100%, 0, 0);
    }
    .menu-branding .potrait {
        background: url(../images/profile-lg.jpg);
    }
    .about-info {
        grid-template-areas: "bioImage" "bio" "job1" "job2" "job3";
        grid-template-columns: 0fr;
    }

    .about-info .bio p,
    .about-info .job p {
        text-align: center;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    #contact .container {
        grid-template-columns: 3fr;
    }
    #contact .container .contact-info {
        display: none;
    }
    .error {
        text-align: center;
        left: auto;
    }
    .astronaut {
        top: 90%;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 2rem;
    }
    main#home h1 {
        margin-top: 10rem;
    }
    main .lg-heading {
        font-size: 4.5rem;
    }
    main .sm-heading {
        font-size: 1.5rem;
    }
    #about .lg-heading {
        margin-top: 2.5rem;
    }
    #work .projects {
        justify-items: center;
        align-items: center;
    }
    #work .lg-heading {
        margin-top: 2.5rem;
    }
    #contact .lg-heading {
        margin-top: 2.5rem;
    }
    .projects {
        grid-template-columns: 1fr;
    }
}

#preloader{
    background: #000000 url(../images/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Style your scroll-down button as desired */
.scrollicon {
    position: absolute;
    top: 95%;
    left: 50%;
    color: #F4C215;
    transform: translate(-50%,-50%);
}
.scrollicon span
{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #F4C215;
    border-right: 3px solid #F4C215;
    transform:rotate(45deg);
    margin: 10px;
    animation: animate 2s  infinite;
    
}

.box span:nth-child(1)
{
    animation-delay: -0.2s;

}
.box span:nth-child(2)
{
    animation-delay: -0.4s;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform:rotate(45deg) translate(-20px,-20px);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform:rotate(45deg) translate(20px,20px);
    }
}

.exp{
    width: 90%;
    padding: 10px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
.box{
    width: 160px;
    height: 160px;
    background-color: #000000;
    border-radius: 50%;
    border: 2px solid #F4C215;
    float: left;
    margin: 0px 10px;
    transition: 1s;
}
.box:hover{
    transform: scale(2.3);
    background: #000000;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}
.content{l
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.proImage{
    width: 150px;
    position: absolute;
}

img{
    width: 100%;
    display: block;
    margin: auto;
}

.content:hover{
    opacity: 5;
    border-radius: 50%;
}
.content h1{
    font-size: 33px;
    color: #F4C215;
    margin-bottom: -10px;
    line-height: 1.5;
}
.content h2{
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 0px;
    line-height: 1.5;
}
.content h3{
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 20px;
    line-height: 1.5;
}
.content > * {
    transform: translateY(25px);
    transition: transform 0.6s;
}

.content:hover > * {
    transform: translateY(0px);
}


#contact .container .contact-info-note 
{
    font-family: Amsterdam2, cursive;
    color: #F4C215;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.container.contact-card h1{
        
    }